# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# JetBrains (PyCharm) project files
.idea/

# Credentials & temp files
credentials/
temp/

# Other common secrets
.env
*.env
*.secret